{% extends 'layout/base.html' %}

{% block title %}
    Добро пожаловать!
{% endblock %}

{% block content %}
    <h1 class="display-2 text-center mb-4">Расскажи свою историю!</h1>
    <div class="d-flex flex-column align-items-center">
        {% if user.is_authentetic %}
            <a class="w-50 m-auto btn-block btn btn-info btn-lg" href="{# {% url 'add_story' %} #}">Рассказать историю</a>
        {% else %}
            <h2 class="text-center mb-4">Но сначала мы должны понять, кто ты.</h2>
            <a class="w-50 btn-block btn btn-info btn-lg" href="{# {% url 'add_story' %} #}">Войти</a>
            <a class="w-50 btn-block btn btn-info btn-lg" href="{# {% url 'add_story' %} #}">Зарегистрироваться</a>
        {% endif %}
    </div>
{% endblock %}