{% extends 'layout/base.html' %}
{% load app_tags %}

{% block title %}
    {{ usr.username }}
{% endblock %}

{% block nav %}
    {% nav page=None %}
{% endblock %}

{% block h1 %}
    {{ usr.username }}
{% endblock %}

{% block content %}
    <section class="row no-gutters mb-3">
        <div class="col-3 d-flex flex-column align-items-center">
            <img class="mb-3" src="{{ profile.image.url }}" width="200" height="200" alt="User Image">
            {% if is_me %}
                <a href="#" class="btn btn-info">Настройки</a>
            {% endif %}
        </div>
        <div class="col-9">
            <table class="table table-borderless">
                <tr>
                    <th class="w-25">Имя:</th>
                    <th class="text-info">{{ usr.first_name }}</th>
                </tr>
                <tr>
                    <th class="w-25">Фамилия:</th>
                    <th class="text-info">{{ usr.last_name }}</th>
                </tr>
                <tr>
                    <th class="w-25">Пол:</th>
                    <th class="text-info">{{ profile.gender }}</th>
                </tr>
                <tr>
                    <th class="w-25">Дата рождения:</th>
                    <th class="text-info">{{ profile.birth_date }}</th>
                </tr>
                <tr>
                    <th class="w-25">Электронный адрес:</th>
                    <th class="text-info">{{ usr.email }}</th>
                </tr>
                <tr>
                    <th class="w-25">О пользователе:</th>
                    <th class="text-info">{{ profile.bio }}</th>
                </tr>
            </table>
        </div>
    </section>
{% endblock %}