{% extends 'layout/base.html' %}
{% load app_tags %}

{% block title %}
    {{ usr.username }}
{% endblock %}

{% block nav %}
    {% nav page=None %}
{% endblock %}

{% block h1 %}
    {{ usr.username }}
{% endblock %}

{% block content %}
    <section class="row no-gutters mb-3">
        <div class="col-3 d-flex flex-column align-items-center">
            <img class="mb-3" src="{{ profile.image.url }}" width="200" height="200" alt="User Image">
            {% if is_me %}
                <a href="{% url 'settings' %}" class="btn btn-info">Настройки</a>
            {% endif %}
        </div>
        <div class="col-9">
            {% if profile.is_private and not is_me %}
                <p class="lead">Данные этого пользователя таинственным образом скрыты от посторонних глаз...</p>
            {% else %}
                <table class="table table-borderless">
                    <tr>
                        <th class="w-25">Имя:</th>
                        <th class="text-info">{{ profile.first_name }}</th>
                    </tr>
                    <tr>
                        <th class="w-25">Фамилия:</th>
                        <th class="text-info">{{ profile.last_name }}</th>
                    </tr>
                    <tr>
                        <th class="w-25">Пол:</th>
                        <th class="text-info">{{ profile.gender }}</th>
                    </tr>
                    <tr>
                        <th class="w-25">Дата рождения:</th>
                        <th class="text-info">{{ profile.birth_date }}</th>
                    </tr>
                    <tr>
                        <th class="w-25">Электронный адрес:</th>
                        <th class="text-info">{{ profile.email }}</th>
                    </tr>
                    <tr>
                        <th class="w-25">О пользователе:</th>
                        <th class="text-info">{{ profile.bio }}</th>
                    </tr>
                </table>
            {% endif %}
        </div>
    </section>
    <section>
        <h2>Истории пользователя: <span class="text-info">{{ stories.count }}</span></h2>
        {% if stories %}
            <ul>
                {% for story in stories %}
                    <li class="list-group-item mt-4">
                        <div class="d-flex align-items-center">
                            <b class="col-6">{{ story.title }}</b>

                            <div class="col-6 row no-gutters justify-content-between align-items-center">
                                <b>{{ story.creation_date.date }}</b>
                                <div class="">
                                    {% if is_me %}
                                        <a class="btn btn-info mr-2" href="{% url 'story_edit' story.pk story.url %}">Редактировать</a>
                                    {% endif %}
                                    <a class="btn btn-info" href="{% url 'story' story.pk story.url %}">Прочесть</a>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Пользователь еще не опубликовал ни одной истории.</p>
        {% endif %}

    </section>
{% endblock %}