{% extends 'layout/base.html' %}
{% load app_tags %}

{% block title %}
    Авторизация
{% endblock %}

{% block nav %}
    {% nav page='stories' %}
{% endblock %}

{% block h1 %}
    Истории
{% endblock %}

{% block content %}
    <ul>
        {% for story in stories_list %}
            <li class="list-group-item mt-4">
                <div class="d-flex align-items-center">
                    <b class="col-6">{{ story.title }}</b>

                    <div class="col-6 row no-gutters justify-content-between align-items-center">
                        <b>{{ story.creation_date.date }}</b>
                        <span class="text-muted">{{ story.author }}</span>
                        <a class="btn btn-info" href="{% url 'story' story.pk story.slug %}">Прочесть</a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}