{% extends 'layout/base.html' %}
{% load bootstrap4 %}
{% load app_tags %}

{% block title %}
    {{ story.title }}
{% endblock %}

{% block nav %}
    {% nav page=None %}
{% endblock %}

{% block h1 %}
    {{ story.title }}
{% endblock %}

{% block content %}

    <section class="mb-5">
        <header class="mb-4 d-flex flex-column position-relative">
            <a href="{% url 'profile' story.author.username %}" class="mb-3 mx-auto btn btn-lg btn-info">{{ story.author.username }}</a>
            <div class="m-auto">
                {% if story.edit_date > story.creation_date %}
                    <b>{{ story.edit_date }}</b>
                {% else %}
                    <b>{{ story.creation_date }}</b>
                {% endif %}

            </div>
            {% if user.is_superuser or user == story.author %}
                <div class="position-absolute d-flex flex-column" style="right: 0; top: 0;">
                    <a href="{% url 'story_edit' story.pk story.slug %}" class="btn btn-info mb-2">
                        Редактировать
                    </a>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">Удалить</button>
                </div>
            {% endif %}
        </header>
        <p>
            {% if story.as_md %}
                {{ story.html_text|safe }}
            {% else %}
                {{ story.html_text }}
            {% endif %}
        </p>
    </section>

    <section class="mb-3">
        <hr>
        <button class="btn btn-info" data-toggle="collapse" data-target="#collapseForm" aria-expanded="false" aria-controls="collapseForm">
            Написать своё мнение
        </button>
        <div class="collapse mt-3" id="collapseForm">
            <form method="post">
                {% csrf_token %}
                {% bootstrap_field field=form.text show_label=False %}
                <button type="submit" class="btn btn-info">Отправить</button>
            </form>
        </div>
        <hr>
    </section>

    <section>
        <h4 class="mb-4">Комментарии: {{ comments.count }}</h4>
        <div>
            {% for comment in comments %}
                <div class="card mb-3">
                    <p class="card-header">
                        <b>{{ comment.author }}</b> - {{ comment.creation_date }}
                    </p>
                    <p class="card-body">{{ comment.text }}</p>
                </div>
            {% endfor %}
        </div>
    </section>


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Удалить историю</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Ты уверен, что хочешь удалить свою историю?</p>
                </div>
                <div class="modal-footer">
                    <form ></form>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
                    <a href="{% url 'story_delete' story.pk story.slug %}" type="button" class="btn btn-primary">Да, удаляйте</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}