{% load bootstrap4 %}
{% load static %}
{% load app_tags %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full'%}
</head>
<body>
    <div class="container">
        <header class="row no-gutters align-items-center">
            <div class="">
                <img src="{% static 'app/logo.svg' %}" width="150" height="150" alt="Logo">
            </div>

            {% block nav %}{% endblock %}

            {% if user.is_authenticated or request.resolver_match.url_name != 'index' %}
            <div class="align-items-center">
                {% if user.is_authenticated %}
                <span class="mr-2">Привет,</span>
                <a href="{% url 'profile' user.username %}" class="btn btn-info mr-2">{{ user }}</a>
                <a href="{% url 'sign_out' %}" class="btn btn-info">Выйти</a>
                {% else %}
                <a href="{% url 'sign_up' %}" class="btn btn-info mr-2">Зарегистрироваться</a>
                <a href="{% url 'sign_in' %}" class="btn btn-info">Войти</a>
                {% endif %}
            </div>
        {% endif %}
        </header>
        <main class="pb-3 height-100">

            <h1 class="display-2 text-center mb-4 position-relative">{% block h1 %}{% endblock %}</h1>

            {% block content %}{% endblock %}

        </main>
        <footer class="pt-4 pb-4 text-center">

            <div>Сделано <a href="https://westerling13.github.io/">Александром</a> в образовательных целях на Django, 2020</div>
            <small>Исходный код проекта вы можете посмотреть в репозитории на <a href="#">Github</a></small>
        </footer>
    </div>
</body>
</html>